body{
    margin: 0;
    background: #F4F4F4;
}
.header{
    height: 80px;
    width: 100%;
    background-color: white;
}
.header-center{
    height: 80px;
    width: 1000px;
    background-color: white;
    margin: 0 auto;
}
.header-left{
    display: inline-block;
    width: 160px;
    height: 80px;
}
.inline-block{
    display: inline-block;
}
.click{
    display: inline-block;
    margin-right: 60px;
}
.logo{
    width: 40px;
    display: inline-block;
    padding-bottom: 20px;
}
.xueer{
    font-size: 29px;
    color:#1DC091;
    display: inline-block;
    width: 60px;
    vertical-align: top;
    line-height: 35px;
}
.header-con{
    width:250px;
    display: inline-block;
}
a:link,:visited{
    line-height: 75px;
    height: 80px;
    padding-top: 5px;
    font-size: 20px;
    color:#585858;
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
}
a:hover{
    border-top:solid 5px #F44336;
    padding-top: 0;
    color: #F44336;
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
}
.search{
    width: 400px;
    display: inline-block;
    height: 80px;
    vertical-align: bottom;
    font-size: 0;
}
.searchborder{
    border: solid 3px #F44336;
    height: 35px;
    width: 250px;
    display: inline-block;
    vertical-align: bottom;
}
.searchlogo{
    height: 35px;
    display: inline-block;
}
.wave{
    width: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.esc{
    width: 95px;
    height: 35px;
    background-color: #1DC091;
    color: white;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    margin: 24px 0 0 30px;
    vertical-align: top;
}
.main{
    width: 1000px;
    height: 1630px;
    background-color:#F4F4F4;
    margin: 0 auto;
}
.main-top{
    height: 755px;
    width: 1000px;
    background-color: white;
    margin-bottom: -10px;
}
.poster{
    width: 1000px;
}
.square{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: solid 3px #1DC091;
    margin: 40px;
    color: #1DC091;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
}
.title{
    color:#686868;
    font-size: 15px;
}
.name{
    color: #909090;
    font-size: 13px;
}
ul :hover{
    color: #F44336;
    cursor: pointer;
}
.sign{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: solid 2px #1DC091;
    margin: 35px  auto;
    padding:0;
    position: relative;
}
.vertical{
    height: 1px;
    width: 18px;
    background: rgb(170, 231, 214);
    position: absolute;
    top: 9px;
    left: 1px;
}
.horizontal{
    width: 1px;
    height:18px;
    background: rgb(170, 231, 214);
    position: absolute;
    top: 1;
    left: 9px;
}
.part{
    width:200px;
    height: 400px;
    margin-left: 40px;
    display: inline-block;
}
.border-right{
    border-right: solid 1px #E8E8E8;
    width: 230px;
    height: 115px;
}
.list{
    width: 1000px;
    height: 400px;
}
.main-middle{
    width: 1000px;
    height: 350px;
    background-color: white;
    margin: 10px auto;
}
.tip{
    font-size: 20px;
    color:#585858;
    height: 10px;
    padding-top: 35px;
    text-align: center;
}
.detail{
    color: #1DC091;
    font-size: 15px;
    text-align: center;
}
.ranking{
    width: 800px;
    height: 170px;
    margin: 10px auto;
    font-size: 0;
}
.number{
    color: #F44336;
    font-size: 65px;
    text-decoration: underline #F44336 4px;
    width: 150px;
    height: 100px;
    text-align: center;
    border: solid 3px transparent;
    display: inline-block;
    vertical-align: bottom;
}
.change{
    width: 150px;
    height: 100px;
    border: solid 3px #1DC091;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color:#686868;
    font-size: 15px;
}
.change:hover{
    background-color: #1DC091;
    color: white;
    width: 150px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 15px;
}
.main-bottom{
    width: 1000px;
    height: 400px;
    background-color: white;
    margin: 10px auto;
}
.footer{
    width: 100%;
    height: 120px;
    background-color: #323232;
}
.footer-center{
    width: 85px;
    height: 40px;
    margin: 0 auto;
    padding-top: 25px;
}
.black-rabbit{
    width: 85px;
    height:40px;
    margin: 0 auto;
}
.red-bg{
    width: 170px;
    height: 85px;
    background-color: rgb(247, 120, 120);
    text-align: center;
    color: white;
    margin: 10px;
    line-height: 10px;
    padding-top: 15px;
    position: absolute;
    bottom:0;
}
.line{
    width:820px;
    height: 120px;
    margin: 20px auto;
}
.spring{
    margin: 0 auto;
    width: 80px;
    height: 40px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 55px;
}
.items:hover .spring{
    opacity: 100;
    margin: 0 auto;
    width: 80px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 55px;
}
.red-bg:hover{
    background-color: #F44336;
}
.items{
    width: 200px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}
.border{
    width: 0;
    height: 6px;
    border: solid 2px rgb(236, 110, 110);
    display: inline-block;
}
.footer-words{
    width: 346px;
    margin: 0 auto;
    border-top: solid 1px #C8C8C8;
}
.white{
    color: #C0C0C0;
    font-size: 15px;
    text-align: left;
    margin: -10px 0 0 10px;
    display: inline-block;
    vertical-align: top;
}
.letter{
    letter-spacing: 5px;
    text-align:right;
    font-size: 15px;
    color:#C0C0C0;
    display: inline-block;
    margin: 5px 5px 0 5px;
}
.box{
    width: 230px;
    height: 115px;
}